@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.rotate {
    /* https://cubic-bezier.com/#.5,-0.01,0,1.01 */
    animation: rotate 1s cubic-bezier(.77,-0.01,.22,.99);
}
  